spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: postgres
    password: admin
  jpa:
    show-sql: true
    ## Hibernate Properties
    # The SQL dialect makes Hibernate generate better SQL for the chosen database
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update   # Hibernate ddl auto (create, create-drop, validate, update)

  devtools:
      restart:
        enabled=true:
server:
  servlet:
    context-path: /api/v1
  port: 8080
